# NestJS Backend URL
NEXT_PUBLIC_API_URL="http://localhost:8080"
NEXT_PUBLIC_SOCKET_URL="http://localhost:8181"
NEXT_PUBLIC_API_UPLOAD_URL="http://localhost:5000"

# LiveKit Configuration
NEXT_PUBLIC_LIVEKIT_URL="ws://localhost:7880"
LIVEKIT_API_KEY="your_livekit_api_key"
LIVEKIT_API_SECRET="your_livekit_api_secret"
